[submodule "specs/OpenGL-Registry"]
	path = specs/OpenGL-Registry
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "specs/EGL-Registry"]
	path = specs/EGL-Registry
	url = https://github.com/KhronosGroup/EGL-Registry.git
