[submodule "specs/OpenGL-Registry"]
	path = specs/OpenGL-Registry
	url = git@github.com:KhronosGroup/OpenGL-Registry.git
[submodule "specs/EGL-Registry"]
	path = specs/EGL-Registry
	url = git@github.com:KhronosGroup/OpenGL-Registry.git
